* {
  /* Reset layout */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
/* 8px between edge of the card and its content (the blue sections) */
  padding: 8px;
}

.title {
  background: #e3f4ff;
  /* 8px between the title text and the edge of the title section */
  padding: 8px;
  /* Title of the card uses a 16px font */
  font-size: 16px;
  /* 8px gap between each of the blue sections inside the card */
  margin-bottom: 8px;
}

.content {
  background: #e3f4ff;
  /* Content section has 16px space on the top and bottom, and 8px on either side */
  padding: 16px 8px;
  /* 8px gap between each of the blue sections inside the card */
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  /* Everything inside the `.button-container` section has 8px padding */
  padding: 8px;
  /* Everything inside the `.button-container` section is centered */
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  /* The Big Button is on its own line */
  display: block;
  /* The Big Button is centered */
  margin: 0 auto;
  /* The Big Button has 24px space on the sides, and 8px on top and bottom */
  padding: 8px 24px;
}