* {
  /* Reset to override the user-agent stylesheet */
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  /* You will need to change the flex-direction to push the footer down */
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  /* The header text is size 32px. */
  font-size: 32px;
  /* The header text weight is 900. */
  font-weight: 900;
  display: flex;
  /* The header text is vertically centered */
  align-items: center;
  /* The header text is 16px from the edge of the screen. */
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  /* The header text is centered horizontally */
  justify-content: center;
  /* The header text is centered vertically */
  align-items: center;
  /* Push footer to bottom of page */
  margin-top: auto;
}

.sidebar {
  /* The sidebar is 300px wide  */
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  display: flex;
  /* The sidebar doesn't shrink */
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

.content-container {
  display: flex;
  /* This fixed issue where we had the giant margin above the footer */
  /* The sidebar and cards take up all available space above the footer */
  flex: 1;
  
}

a {
  /* The sidebar links are size 24px */
  font-size: 24px;
  /* The sidebar links are white */
  color: white;
   /* The sidebar links do not have the underline text decoration */
  text-decoration: none;
}

ul {
  /* Remove bullet points from list items */
  list-style-type: none;
}

li {
  /* Add some space between list items */
  margin-bottom: 10px;
}

.card-container {
  /* The cards are arranged horizontally */
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  gap: 25px;
  /*The cards are arranged horizontally, but wrap
  to multiple lines when they run out of room on
  the page */
  flex-wrap: wrap;
  padding: 25px;
}

.card {
  flex-basis: 300px;
  /* Prevent text spilling out of card when viewport gets too small */
  min-height: 300px;
  padding: 16px;
}